$transparency: 0.2;

/* 대표 컬러 */
$main-color: #4571ff !default;
$sub-color: #00a8e6 !default;

/* 서브 컬러 */
$lightGreen: #05e634 !default;
$aqua: #08fcbf !default;
$lawnGreen: #68fe05 !default;

/* 블랙앤화이트 */
$white: rgb(255, 255, 255) !default;
$black: rgb(0, 0, 0) !default;

/* 백그라운드 컬러 */
$bg-main-color: rgba($main-color, $transparency) !default;
$bg-sub-color: rgba($sub-color, $transparency) !default;
$bg-img-maple: url("../images/maple.jpg") !default;
